<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>홈</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow items-center flex justify-center" >
        <label class="swap swap-flip text-9xl gap-2">

            <!-- this hidden checkbox controls the state -->
            <input type="checkbox"/>

            <div class="swap-on pt-12">😈</div>
            <div class="swap-off">
                <div class="hover:text-pink-500 pt-12">
                    <i class="fa-solid fa-hand-holding-heart text-[10rem]"></i>
                </div>
            </div>
        </label>
        <div class="text-center">
            <i class="fa-regular fa-face-laugh"></i> 당신의 호감을 응원합니다.
        </div>

</main>

</body>

</html>

