<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>회원가입</title>
</head>

<body>

<main layout:fragment="main">
    <script>
        function FindLoginPwForm__submit(form) {
            // username 이(가) 올바른지 체크

            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length == 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 4) {
                toastWarning('아이디를 4자 이상 입력해주세요.');
                form.username.focus();
                return;
            }

            form.email.value = form.email.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.email.value.length == 0) {
                form.password.focus();
                toastWarning('이메일을 입력해주세요.');
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="flex justify-center">
        <form th:action method="POST" class="p-10 flex flex-col gap-4"
              onsubmit="FindLoginPwForm__submit(this); return false;">
            <div>
                <input type="text" name="username" maxlength="30" placeholder="아이디" class="input input-bordered">
            </div>
            <div>
                <input type="email" name="email" placeholder="이메일" class="input input-bordered">
            </div>
            <div>
                <input type="submit" value="비밀번호 찾기" class="btn btn-primary">
            </div>
        </form>
    </div>
</main>

</body>

</html>