<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>로그인</title>
</head>

<body>

<main layout:fragment="main">
    <script>
        function LoginForm__submit(form) {
            // username 이(가) 올바른지 체크

            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length == 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 4) {
                toastWarning('아이디를 4자 이상 입력해주세요.');
                form.username.focus();
                return;
            }

            // password 이(가) 올바른지 체크

            form.password.value = form.password.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.password.value.length == 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }

            if (form.password.value.length < 4) {
                toastWarning('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="p-10">
        <div class="flex justify-center">
            <form th:action method="POST" class="flex flex-col gap-4" onsubmit="LoginForm__submit(this); return false;">
                <div>
                    <input type="text" name="username" maxlength="30" placeholder="아이디" class="input input-bordered">
                </div>
                <div>
                    <input type="password" name="password" maxlength="30" placeholder="비밀번호"
                           class="input input-bordered">
                </div>
                <div>
                    <input type="submit" value="로그인" class="btn btn-block btn-primary">
                </div>
            </form>
        </div>
        <div class="flex justify-center">
            <a href="/member/join" class="btn btn-link">회원가입</a>
            <a href="/member/findLoginId" class="btn btn-link">아이디찾기</a>
            <a href="/member/findLoginPw" class="btn btn-link">비밀번호찾기</a>
        </div>
    </div>


    <div class="flex items-center justify-center space-x-3 ">
        <a href="/oauth2/authorization/kakao" class="btn bg-yellow-500 gap-1 ">
            <i class="fa-solid fa-comment text-[color:#ffe812]"></i>
            <span>카카오 로그인</span>
        </a>

        <a href="/oauth2/authorization/naver" class="btn gap-1">
            <i class="fa-solid fa-n text-[color:#2DB400]"></i>
            <span>네이버 로그인하기</span>
        </a>

        <a href="/oauth2/authorization/google" class="btn gap-1">
            <i class="fa-brands fa-google bg-gradient-to-r from-yellow-200 via-red-600 to-blue-400 inline-block text-transparent bg-clip-text"></i>
            <span>구글 로그인하기</span>
        </a>

        <a href="#" class="btn gap-1">
            <i class="fa-brands fa-facebook text-[color:#3B5998]"></i>
            <span>페이스북 로그인</span>
        </a>
    </div>
</main>
</body>

</html>

